{% extends "layout.html" %}

{% block content %}
    <center>
    <p>Songs Used as Seed: </p><input type="text" class="form-control" id="seed" name="seed" placeholder="Songs to Generate List">
    <br>
    <p>Songs Used as Source: </p><input type="text" class="form-control" id="songs" name="songs" placeholder="Playlist of All Songs">
    <br>
    <p>Number of Songs: </p><input type="text" class="form-control" id="num" name="num" placeholder="Number of Songs">
    <br>
    </center>

    <center>
    <button type="submit" class="btn btn-success" onclick="submitClicked()">Submit</button>
    </center>
    <center>
    <button type="submit" class="btn btn-success" onclick="addClicked()">Add Playlists to Database</button>
    </center>


    <script type="text/javascript" src="{{url_for('static', filename='form.js')}}"></script>
{% endblock %}